.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* FORM COMPONENT CSS */

body {
  background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg);
}

li {
  margin-top: 10px;
}

h5, h6 {
  margin: 10px;
}

#add-submit {
  margin-top: 10px;
}

/* END COMPONENT CSS */

/*START HOME PAGE CSS*/

#home-add-job {
  display: inline-block;
}

.jobs {
  list-style-type: none;
}


.list-container {
  border: 1px solid black;
  height: 100%;
  width: 40%;
  margin: 20px;
  border-radius: 25px;
  padding: 20px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: white;
}
